.p1 {
	cursor: pointer;
}

.p2 {
	cursor: pointer;
}

#player-display {
	margin-bottom: 30px;
}

#chat-display {
	overflow-y: scroll;
    height: 100px;
    width: 100%;
    resize: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
}

#chat {
	width: 600px;
	margin: 14px;
}

p {
	margin-bottom: 0;
}

.Rock {
	font-family: 'Frijole', cursive;
	font-size: 30px;
	color: #331f1b;
}

.Paper {
	font-family: 'Fredericka the Great', cursive;
	font-size: 35px;
	color: #3a392c;
}

.Scissors {
	font-family: 'Bigelow Rules', cursive;
	font-size: 48px;
	color: #262d38;
}

.chat-hide {
	display: none;

}

.player-1 {
	color: blue;
}

.player-2 {
	color: green;
}